*{
    margin: 0px;
    padding: 0px;
     text-decoration: none;
    font-family:"lobster",sans-serif;
    box-sizing: border-box;
}


.navbar{
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 30px 0px;
    top: 0;
    z-index: 999;
    transition: .3s linear;
    
    padding: 18px 0;
}

.inner-width{
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
}

.navbar .inner-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 44px;
    height: 32px;
    background-image: url(white-logo.png);
    background-size: contain;
}

.menu-toggler{
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;

}

.menu-toggler span{
    display: block;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    position: relative;
    transform: .3s linear;
}

.navbar-menu a{
    color: white;
    font-size: 40px;
    font-weight: 500;
    margin-left: 30px;
    transition: .2s linear;
}

.navbar-menu a:hover{
    color: #48dbfb !important;
}

.sticky{
    background-color: white;
    padding: 18px 0;
}

.sticky .navbar-menu a{
    color: black;
}

.sticky .menu-toggler span{
    background-color: black;
}

.sticky .logo{
     background-image: url(black-logo.png);
}

.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    display: flex;
}

.about-section::before{
    content: " ";
    background: url(./about.jpg) no-repeat center center/cover;
    background-attachment: fixed;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0px;
    left: 0px;
    opacity: 0.91;
}

.about-section{
    display: flex;
    flex-direction: column;
}
.inner-container{
    padding: 70px;
}

.inner-about{
    border: 2px solid #48dbfb;
    border-radius: 8px;
    padding: 15px   ;
}

.inner-container h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 900;
}
.text{
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 40px;
    
}

.skills{
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    font-weight: 500;
    
}
.sm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.sm a{
    color: white;
    font-size: 35px;
    margin: 0 10px;
    transition: .2s linear;
}




#github:hover{
    color: 	#171515;
}
#twitter:hover{
    color: 	 #00acee;
}
#instagram:hover{
    color: 	 #bc2a8d;
}
#linkedin:hover{
    color: 	 #0077b5;
}
.footer{
    display: flex;
    color: white;
    background-color: black;
    align-items: center;
    justify-content: center;
}



@media screen and (max-width:1000px) {
    .inner-container{
        padding: 80px;
    }
}
@media screen and (max-width:900px) {
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}
@media screen and (max-width:600px) {
    .about-section{
        padding: 0px ;
        
    }
    .inner-container{
        padding: 60px;
    }
}

@media screen and (max-width:890px){

    .sm{
        
        padding-bottom: 10px;
    } 

    .menu-toggler{
        display: block;
    }
    
    .navbar-menu{
        position: fixed;
        height: 100vh;
        width: 40%;
        background-color: rgb(44, 43, 43);
        top: 0;
        right: -100%;
        max-width: 400px;
        padding: 80px 50px;
        transition: .3s linear;
    }

    .navbar-menu a{
        display: block;
        font-size: 30px;
        margin: 30px 0;
    }

    .sticky .navbar-menu{
        background-color: whitesmoke;
    }

    .navbar-menu.active{
        right: 0;
    }

    .menu-toggler.active span:nth-child(1){
        transform: rotate(-45deg);
        top: 4px;
        transition: .2s linear;
    }
    .menu-toggler.active span:nth-child(2){
      opacity: 0;
    }
    .menu-toggler.active span:nth-child(3){
        transform: rotate(45deg);
        bottom: 14px;
        transition: .2s linear;
    }
}

@media screen and (max-width:500px){
    .sm{
        background-color: black;
        margin: -2px;
        padding-top: 5px;
    } 
    .footer{
        padding: 5px;

    }
    

}